{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "quotes": "off",
    "rules": {
      "@typescript-eslint/rule-name": "error",
      "@typescript-eslint/quotes": "single"
    },
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"]
  }